#wrapper{ 
	min-height:100%; 
	position:relative; 
	font-family: sinhala_mnregular;
}
#header{ 
	background:white; 
	padding:10px; 
}
#header img{
    max-width:40%;
}
#content{ 
    padding-top: 10px;
	padding-bottom:196px; /* Height of the footer element */ 
    padding-left:0; 
    padding-right:0; 
}
#footer{ 
	width:100%; 
	height:187px; 
	position:absolute; 
	text-align: center; 
	background: #BD2325; 
	bottom:0; 
	left:0;
}
form input{
	width: 250px;
	text-align: left;
	padding-left: 4px;
	border-radius: 2px;
    margin-bottom: 1%;
}
h2{
	text-align: left;
	font-size: 30px;
	margin: 1%;
	margin-left: 0;
    text-decoration: underline;
}
form input[type="submit"]{
	background-color: #bd2325;
	color: white;
	border-radius: 3px;
	border: none;
	width: 100px;
	height: 40px;
	text-align: center;
}
.notif.fail{
	color: red;
}
.errorphp{
	color: red;
}
.notif.success{
	color: #579c12;
}
/****************************FEEDBACK PAGE****************************/
#rate{
	background: #ccc;
	display: inline-block;
	padding: 0px 15px;
}
#feedback textarea{
    width: 500px;
    height: 150px;
    max-width: 100%;
    font-size: 22px;
    padding: 5px;
    line-height: 22px;
}
#feedback input{
	margin: 0;
	width: auto;
	margin-bottom: 20px;
}

/****************************Media Queries****************************/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #content{
        padding-bottom: 177px;
    }
    #footer{
        height: auto;
    }
    #footer img{
        max-width: 100%;
        height: 155px;
    }
    #footer #advantage{
        font-size: 16px;
    }
    span.boxtitle{
        font-size: 20px;
    }
    a#logout{
        
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #content{
        padding-bottom: 138px;
    }
    #footer{
        height: auto;
    }
    #footer img{
        max-width: 100%;
        height: 116px;
    }
    #footer #advantage{
        font-size: 16px;
    }
    span.boxtitle{
        font-size: 18px;
    }
    a#logout{

    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #content{
        padding-bottom: 91px;
    }
    #footer{
        height: auto;
    }
    #footer img{
        max-width: 100%;
        height: 69px;
    }
    #footer #advantage{
        font-size: 12px;
    }
    span.boxtitle{
        font-size: 18px;
    }
    .landing{
        font-size: 22px;
    }
    a#logout{

    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #content{
        padding-bottom: ;
    }
    #footer{
        height: auto;
    }
    #footer img{
        max-width: 100%;
        height: ;
    }
    #footer #advantage{
        font-size: 12px;
    }
    span.boxtitle{
        font-size: 14px;
        margin-top: 0;
        margin-left: 10px;
    }
    .landing{
        font-size: 18px;
    }
    a#logout{

    }
}